$white: #fff;
$black: #333;
$blackDark: #000;
$red: #CC1215;
$blackLight: #666;

$colorNew: #E57F67;
$colorEvent: #6AC5CC;
$colorOpen: #DEC24C;


$lineColor: #ccc;

$sp-fsz-xd47: 47;
$sp-fsz-xd45: 45;
$sp-fsz-xd44: 44;
$sp-fsz-xd43: 43;
$sp-fsz-xd42: 42;
$sp-fsz-xd40: 40;
$sp-fsz-xd38: 38;
$sp-fsz-xd30: 30;
$sp-fsz-xd28: 28;
$sp-fsz-xd26: 26;
$sp-fsz-xd25: 25;
$sp-fsz-xd24: 24;
$sp-fsz-xd23: 23;
$sp-fsz-xd22: 22;
$sp-fsz-xd21: 21;
$sp-fsz-xd20: 20;
$sp-fsz-xd18: 18;
$sp-fsz-xd16: 16;
$sp-fsz-xd15: 15;
$sp-fsz-xd14: 14;
$sp-fsz-xd12: 12;
$sp-fsz-xd13: 13;
$sp-fsz-xd12: 12;
$sp-fsz-xd11: 11;
$sp-fsz-xd10: 10;
$sp-fsz-xd9: 9;
$sp-fsz-xd8: 8;
$sp-fsz-xd7: 7;

$pc-fsz-xd100: 100;
$pc-fsz-xd58: 58;
$pc-fsz-xd54: 54;
$pc-fsz-xd53: 53;
$pc-fsz-xd48: 48;
$pc-fsz-xd44: 44;
$pc-fsz-xd40: 40;
$pc-fsz-xd38: 38;
$pc-fsz-xd36: 36;
$pc-fsz-xd30: 30;
$pc-fsz-xd28: 28;
$pc-fsz-xd26: 26;
$pc-fsz-xd24: 24;
$pc-fsz-xd23: 23;
$pc-fsz-xd22: 22;
$pc-fsz-xd20: 20;
$pc-fsz-xd19: 19;
$pc-fsz-xd18: 18;
$pc-fsz-xd17: 17;
$pc-fsz-xd16: 16;
$pc-fsz-xd15: 15;
$pc-fsz-xd14: 14;
$pc-fsz-xd13: 13;
$pc-fsz-xd12: 12;
$pc-fsz-xd11: 11;
$pc-fsz-xd10: 10;

$pc-max-width: 1400px;
$pc-width: 1060px;

$pc-header-hegiht: 80px;
$sp-header-hegiht: 60px;

$pc-anchor-hegiht: 90px;
$sp-anchor-hegiht: 80px;

$fwn: 400;
$fwb: 700;

$basefont: 'Noto Sans JP', sans-serif;
$basefontEn: 'Lato', sans-serif;
$basefontEnTtl: 'Pacifico', cursive;
